/*** Colors   ***/

/** Primary **/
$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

/** Accent **/
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

/** Neutral **/
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray:hsl(0, 0%, 75%);

/*** Typography ***/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

/** font family **/
$f-raleway: 'Raleway', sans-serif;
$f-open-sans: 'Open Sans', sans-serif;

